.mainTimer__body {
    padding: 70px 40px;
    width: 100%;
    background-color: #f4f4f4;
    max-width: 753px;
    transition: .3s ease-in-out;
    position: relative;
}

.mainTimer__title {
    margin: 0 auto 40px;
    text-align: center;
    transition: color .3s ease-in-out;
}

.darkTheme .mainTimer__body {
    background-color: rgba(66, 66, 66, 0.4);
}

.mainTimer__body-addMinute {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-150%);
}

.mainTimer__controls {
    display: flex;
    justify-content: center;
}

.timerStartStop__btn {
    margin-right: 25px;
}