.statistic__today {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    background-color: #F4F4F4;
    min-height: 260px;
}

.darkTheme .statistic__today {
    background-color: #333;
}

.statistic__today-text {
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
}