.header {
    padding: 15px 0;
    box-shadow: 0px 10px 63px 0px #00000012;
    transition: .3s ease-in-out;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerControls {
    display: flex;
    gap: 20px;
    align-items: center;
}

.toggle {
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
    border: 2px solid #38389a;
    border-radius: 40px;
    width: 60px;
    cursor: pointer;
    padding: 2px;
    height: 30px;
    position: relative;
}

.toggle span {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: .3s ease-in-out;
    background-color: rgb(255, 149, 0);
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.darkTheme .toggle span {
    background-color: blue;
    transform: translateX(30px);
}

.toggle:disabled {
    border-color: #999;
    cursor: default;
}

.toggle:disabled span {
    background-color: #999;
}
